<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>插槽用法</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>
    <h1>插槽：我的理解相当于占位符，类似html标签的内容</h1>
    <div id="example1">
        <h2>例子1：插槽没有html的版本</h2>
        <navigation-link url="/profile">
            测试
        </navigation-link>
        <h2>例子2：插槽有html的版本</h2>
        <navigation-link url="profile">
            <!--添加一个Font Awesone图标-->
            <span class="fa fa-user"></span>
            测试
        </navigation-link>
        <h2>例子3：插槽有其他组件版本</h2>
        <navigation-link url="profile">
            <font-awesome-icon name="user-circle"></font-awesome-icon>
            测试
        </navigation-link>
    </div>
    <div id="example2">
        <h2>具名插槽</h2>
        <base-layout>
            <template slot="header">
                <p>这是一个页面的标题</p>
            </template>
            <p>这是一个页面的内容</p>
            <p>这是其他内容</p>
            <template slot="footer">
                <p>这是页面的尾部</p>
            </template>
        </base-layout>
        <h2>具名插槽的另外一种写法</h2>
        <p>eg:<code>slot</code>特性的用法，可以直接用在一个普通的元素上</p>
        <base-layout>
            <p slot="header">这是一个页面的标题</p>
            <p>这是一个页面的内容</p>
            <p>这是其他内容</p>
            <p slot="footer">这是页面的尾部</p>
        </base-layout>
    </div>
    <div id="example3">
        <h2>插槽的默认内容</h2>
        <submit-button>
            Save
        </submit-button>
    </div>
    <div id="example4">
        <h2>作用域插槽</h2>
        <todo-list v-bind:todos="todos">
            <template slot-scope="slotProps">
                <span v-if="slotProps.todo.isComplete">✓</span>
                {{slotProps.todo.text}}
            </template>
        </todo-list>
    </div>
    <script>
        Vue.component('navigation-link',{
            props:['url'],
            template:`
            <a v-bind:href="url" class="nav-link">
                <slot></slot>
            </a>
            `
        });
        Vue.component('font-awesome-icon',{
            props:['name'],
            template:`
            <span v-bind:class="['fa','fa-'+name]"></span>
            `
        });

        Vue.component('base-layout',{
            template:`
            <div class="container">
                <header>
                    <slot name="header"></slot>
                </header>
                <main>
                    <slot></slot>
                </main>
                <footer>
                    <slot name="footer"></slot>
                </fotter>
            </div>
            `
        });

        Vue.component('submit-button',{
            template:`
            <button type="submit">
                <slot>Submit</slot>
            </button>
            `
        });
        Vue.component('todo-list',{
            props:['todos'],
            template:`
            <ul>
                <li v-for="todo in todos" v-bind:key="todo.id">
                    <slot v-bind:todo="todo">
                        {{todo.text}}
                    </slot>
                </li>
            </ul>
            `
        });
        var app1=new Vue({
            el:'#example1'
        });
        var app2=new Vue({
            el:'#example2'
        });
        var app3=new Vue({
            el:'#example3'
        });
        var app4=new Vue({
            el:'#example4',
            data:{
                todos:[
                    {text:'学习 JavaScript',isComplete:true},
                    {text:'学习 vue',isComplete:false},
                    {text:'整个牛项目',isComplete:true}
                ]
            }
        });
    </script>
</body>
</html>